body {
    background-color: #a2dda2;
}

.row {
    padding: 100px;
}

#about-header {
    text-align: center;
}

.contact-link {
    outline: none;
    text-decoration: none;
}

.contact-image {
    padding: 10px;
    width: 60px;
    height: auto;
}